<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link th:href="@{/css/editUser.css}" rel="stylesheet" />-->
  <title>予算入力</title>
  <script>
    /// ページ読み込み時に実行
window.onload = function() {
    // 収入金額の初期値をフォーマット
    document.querySelectorAll('input[id="inamount"]').forEach(function(input) {
        if (input.value) {
            input.value = new Intl.NumberFormat().format(input.value);
        }
    });

    // 支出金額の初期値をフォーマット
    document.querySelectorAll('input[id="examount"]').forEach(function(input) {
        if (input.value) {
            input.value = new Intl.NumberFormat().format(input.value);
        }
    });
};
  </script>
</head>
<body>
<h1>予算入力</h1>
<form th:action="@{/category/insert/execute}" th:object="${budgetList}" method="post">
  <h2>収入</h2>
  <table  border="1">
    <thead>
    <tr>
<!--      <th>形態</th>-->
      <th>項目名</th>
      <th>金額 (円)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="incomeBudget, iterStat : *{incomeBudgets}">
<!--      <td>-->
        <input type="hidden" th:field="*{incomeBudgets[__${iterStat.index}__].categoryId}" />
        <input type="hidden" th:field="*{incomeBudgets[__${iterStat.index}__].userId}" />
        <input type="hidden" th:field="*{incomeBudgets[__${iterStat.index}__].year}" />
        <input type="hidden" th:field="*{incomeBudgets[__${iterStat.index}__].month}" />
<!--        <span th:text="${incomeBudget.isRegularIncome == 1 ? '定期' : (incomeBudget.isRegularIncome == 0 ? '不定期' : '')}"></span>-->
<!--      </td>-->
      <td>
        <span th:text="${incomeBudget.categoryName}"></span>
      </td>
      <td>
        <input type="text"
               id="inamount"
               th:field="*{incomeBudgets[__${iterStat.index}__].budgetAmount}"
               placeholder="金額を入力してください"
               autocomplete="off" />
      </td>
    </tr>
    </tbody>

  </table>

  <h2>支出</h2>
  <table  border="1">
    <thead>
    <tr>
<!--      <th>費用区分</th>-->
      <th>カテゴリ名</th>
      <th>金額 (円)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="expenseBudget, iterStat: *{expenseBudgets}">
<!--      <td>-->
<!--        <input type="hidden" th:field="*{expenseBudgets[__${iterStat.index}__].categoryId}"/>-->
<!--        <input type="hidden" th:field="*{expenseBudgets[__${iterStat.index}__].userId}"/>-->
<!--        <input type="hidden" th:field="*{expenseBudgets[__${iterStat.index}__].year}"/>-->
<!--        <input type="hidden" th:field="*{expenseBudgets[__${iterStat.index}__].month}"/>-->
<!--        <span th:text="*{expenseBudgets[__${iterStat.index}__].isFixedCost == 1 ? '固定費' : (expenseBudgets[__${iterStat.index}__].isFixedCost == 0 ? '変動費' : null)}"></span>-->
<!--      </td>-->
      <td>
        <span th:text="*{expenseBudgets[__${iterStat.index}__].categoryName}"></span>
      </td>
      <td>
        <input type="text"
                  id="examount"
                  th:field="*{expenseBudgets[__${iterStat.index}__].budgetAmount}"
                  oninput="restrictAndFormat(this)"
                  placeholder="金額を入力してください"
                  autocomplete="off"
        />
      </td>
    </tr>
    </tbody>
  </table>
  <button type="submit">送信</button>
</form>
<!-- 戻るボタン -->
<a th:href="@{/category/list}" class="cancel-btn">キャンセル</a>
</body>
</html>