<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/editUser.css}" rel="stylesheet" />
  <title>カテゴリー情報の編集</title>
</head>
<body>
<h1>カテゴリー情報の編集</h1>
<form th:action="@{/category/edit/execute-expenseCategory}" th:object="${expenseCategory}" method="post">
  <div>
    <label for="categoryId"></label>
    <input type="hidden" id="categoryId" th:field="*{categoryId}">
  </div>
  <div>
    <label for="isFixedCost">費用区分：</label>
    <select id="isFixedCost" th:field="*{isFixedCost}">
      <option value="1" th:selected="*{isFixedCost == 1}">固定費</option>
      <option value="0" th:selected="*{isFixedCost == 0}">変動費</option>
    </select>
  </div>
  <div>
    <label for="categoryName">カテゴリ名：</label>
    <input type="text" id="categoryName" th:field="*{categoryName}">
  </div>
  <div>
    <label for="estimatedAmount">予測収入金額：</label>
    <input type="text" id="estimatedAmount" th:field="*{estimatedAmount}">
  </div>
  <div>
    <button type="submit"> 編集</button>
  </div>
</form>
<!-- 戻るボタン -->
<a th:href="@{/category/list}" class="cancel-btn">キャンセル</a>
</body>
</html>