<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
</head>
<body>
<h2>メニュー画面</h2>
<hr>
<a th:href="@{/}">メニュー画面</a>
<br>
<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/usermanage/}">ユーザー管理</a>
<br>
<div sec:authorize="hasAuthority('USER')">
    [一般閲覧で表示される部分]
</div>
<div sec:authentication="name">
    ログイン情報のname値に書き換わる
</div>
<br>
<a th:href="@{/category}">カテゴリーメニュー画面</a>
<br>
<a th:href="@{/budget/register}">予算入力</a>
<br>

<!--authenticationはspringsecurityの認証情報にアクセスするためのオブジェクト-->
<!--principalは認証プロセスで確認されたユーザの情報を保持する-->
<div th:text="${#authentication.principal.displayName}">
    新たに追加したdisplayName値に書き換わる
</div>
<div th:text="${#authentication.principal.userId}">
    新たに追加したdisplayName値に書き換わる
</div>
<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/usermanage/userlist}">利用者一覧</a>
<br>
<a th:href="@{/category}">カテゴリーメニュー画面</a>
<br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="ログアウト">
</form>

</body>
</html>